@model Ekart.Models.Products
@{
    ViewData["Title"] = "Add Item";
}

<h1>Add Item</h1>
<form asp-action="AddItem" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description"/>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price"/>
    </div>
    <div class="form-group">
        <label>Quantity In Stocks</label>
        <input  asp-for="QuantityInStock"  />
    </div>
    <div class="form-group">
        <label>CategoryId</label>
        <input asp-for="CategoryId"/>
    </div>
    <div class="form-group">
        <label>Discount</label>
        <input asp-for="Discount"/>
    </div>
    <div class="form-group">
        <label>ImageUrl</label>
        <input asp-for="imageUrl" />
    </div>
    <div class="form-group">
        <label>Warrenty</label>
        <input asp-for="Warrenty" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>